/* css styles */

.quiz, .exercise{
  border: 2px solid #007acc;
  border-radius: 5px;
  background-color: #e6f3ff;
  padding: 15px;
  margin: 15px 0;
}

.quiz-icon, .exercise-icon {
  font-size: 2em;
  margin-right: 15px;
  color: #007acc;
}

/* Adjust layout proportions on the home page */
.home-about {
  display: flex;
  gap: 2em;
  align-items: flex-start;
}

/* Left column: photo and links */
.home-about > div:first-child {
  flex: 0 0 30% !important;
  max-width: 30% !important;
}

/* Right column: text */
.home-about > div:last-child {
  flex: 0 0 70% !important;
  max-width: 70% !important;
}

/* Target the image banner and remove dark overlay */
.quarto-title-banner {
  /* background-blend-mode: normal !important;CAN ADD THIS*/
   /*background-color: transparent !important; CAN ADD THIS*/
  filter: brightness(1) !important;
  background-position: bottom !important;
}

#title-block-header .quarto-title .title {
  color: transparent !important;
  text-shadow: none !important;
}


